###LaTeX###

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.fls
*.pre
*.pdf



*.pyc
Spazz-P1.tgz
Spazz-P1/src/Game.py
Spazz-P1/src/Level.py
Spazz-P1/src/levels.txt
Spazz-P1/src/main.py
Spazz-P1/src/Menu.py
Spazz-P1/src/Snake.py
